.square{
    border: 1px solid black;
    width: 250px;
    height: 400px;
    display: inline-block;
    margin: 30px;
}
.wrapper {
    overflow:hidden;
}

.sectionimage { /* must always be before text, even if floated right */
    width:230px;
    height: 330px;
    padding-left:10px;
}

.left {
    float:left;
}

.right {
    float:right;
}

.left + .sectiontext {
    margin-left:500px; /* left margin for text after a "left" image */
}

.right + .sectiontext {
    margin-right:500px; /* right margin for text after a "right" image */
}

.sectiontext {
    margin:10px !important;
    text-align: center;
}

/* images and text displayed as blocks */
@media only screen and (max-width:950px) 
{
    .sectionimage, .sectiontext {
        display:block;
        width:100%;
    }

    .sectionimage {
        float:none;
    }

    .sectiontext {
        margin:10px !important;
    }
}